$button-primary-color: #2ee5ac;
$button-primary-color-hover: #26bb8c;
$button-secondary-color: #7D7D7D;
$button-secondary-color-hover: #6b6b6b;
$item-bkg-color: #fff;
$app-bkg-color: #fafafa;
$border-color: #D1D1D1;
$title-color: #222222;
$primary-text-color: #474747;
$secondary-text-color: #999999;